<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.css" />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/*.css" />
    <title>Game World</title>
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="#">
            <i class="fa fa-2x fa-futbol-o text-primary"></i>&nbsp;&nbsp;<b>GAME WORLD</b>
        </a>
        <div class="pull-right">
            @await Component.InvokeAsync("CartSummary")
        </div>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>

</body>
</html>
